polkit.addRule(function(action, subject) {
  var YES = polkit.Result.YES;
  var permission = {
"org.freedesktop.login1.attach-device": YES,
"org.freedesktop.login1.flush-devices": YES,
"org.freedesktop.login1.halt": YES,
"org.freedesktop.login1.halt-ignore-inhibit": YES,
"org.freedesktop.login1.halt-multiple-sessions": YES,
"org.freedesktop.login1.hibernate": YES,
"org.freedesktop.login1.hibernate-ignore-inhibit": YES,
"org.freedesktop.login1.hibernate-multiple-sessions": YES,
"org.freedesktop.login1.inhibit-block-idle": YES,
"org.freedesktop.login1.inhibit-block-shutdown": YES,
"org.freedesktop.login1.inhibit-block-sleep": YES,
"org.freedesktop.login1.inhibit-delay-shutdown": YES,
"org.freedesktop.login1.inhibit-delay-sleep": YES,
"org.freedesktop.login1.inhibit-handle-hibernate-key": YES,
"org.freedesktop.login1.inhibit-handle-lid-switch": YES,
"org.freedesktop.login1.inhibit-handle-power-key": YES,
"org.freedesktop.login1.inhibit-handle-suspend-key": YES,
"org.freedesktop.login1.lock-sessions": YES,
"org.freedesktop.login1.manage": YES,
"org.freedesktop.login1.power-off": YES,
"org.freedesktop.login1.power-off-ignore-inhibit": YES,
"org.freedesktop.login1.power-off-multiple-sessions": YES,
"org.freedesktop.login1.reboot": YES,
"org.freedesktop.login1.reboot-ignore-inhibit": YES,
"org.freedesktop.login1.reboot-multiple-sessions": YES,
"org.freedesktop.login1.reload-config": YES,
"org.freedesktop.login1.set-reboot-to-firmware-setup": YES,
"org.freedesktop.login1.set-self-linger": YES,
"org.freedesktop.login1.set-user-linger": YES,
"org.freedesktop.login1.set-wall-message": YES,
"org.freedesktop.login1.suspend": YES,
"org.freedesktop.login1.suspend-ignore-inhibit": YES,
"org.freedesktop.login1.suspend-multiple-sessions": YES,
  };
  if (subject.isInGroup("plugdev")) {
    return permission[action.id];
  }
});
