polkit.addRule(function(action, subject) {
  var YES = polkit.Result.YES;
  var permission = {
    "org.freedesktop.Flatpak.app-install": YES,
    "org.freedesktop.Flatpak.runtime-install": YES,
    "org.freedesktop.Flatpak.app-uninstall": YES,
    "org.freedesktop.Flatpak.runtime-uninstall": YES,
    "org.freedesktop.Flatpak.modify-repo": YES,
  };
  if (subject.isInGroup("flatpak")) {
    return permission[action.id];
  }
});

polkit.addRule(function(action, subject) {
  var YES = polkit.Result.YES;
  var permission = {
    "org.freedesktop.Flatpak.configure-remote" : YES,
  };
  if (subject.isInGroup("wheel")) {
    return permission[action.id];
  }
});
