<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
  <menu id="root-menu" label="Menu">
    <item label="Terminal"><action name="Execute"><execute>konsole</execute></action></item>
    <item label="File Manager"><action name="Execute"><execute>dolphin</execute></action></item>
    <item label="Web Browser"><action name="Execute"><execute>falkon</execute></action></item>
  <separator label="Categories"/>
  <menu id="Multimedia" label="Multimedia">
    <item label="Media Player"><action name="Execute"><execute>mpv --player-operation-mode=pseudo-gui</execute></action></item>
  </menu>
  <menu id="Settings" label="Settings">
    <item label="Wi-Fi"><action name="Execute"><execute>sudo /usr/bin/wpa_gui</execute></action></item>
    <item label="Openbox Settings"><action name="Execute"><execute>obconf-qt</execute></action></item>
  </menu>
  <menu id="System" label="System">
    <item label="Htop"><action name="Execute"><execute>konsole -e 'htop'</execute></action></item>
    <item label="KDE Partition Manager"><action name="Execute"><execute>sudo /usr/bin/partitionmanager</execute></action></item>
  </menu>
  <menu id="Applications" label="Applications">
    <item label="KCalc"><action name="Execute"><execute>kcalc</execute></action></item>
    <item label="Okular"><action name="Execute"><execute>okular</execute></action></item>
    <item label="Spectacle"><action name="Execute"><execute>spectacle</execute></action></item>
  </menu>
  <separator/>
    <item label="Exit"><action name="Exit"/></item>
  </menu>
</openbox_menu>
